html{
    font-family: 'Manrope', sans-serif;
}
body{
    background-image: url('https://images6.alphacoders.com/542/thumb-1920-542443.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed; 

    &::before {
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: inherit;
        filter: blur(8px);
        z-index: -1;
    }
}
.header{
    background-color: transparent;
    position: absolute;
    width: 400px;
    top: 230px;
    left: 300px;
    text-align: left;
}
.text1{
    font-size: 40px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}
.text2{
    font-size: 70px;
    font-weight: 900;
    background: radial-gradient(
    circle at 50% 50%,
    rgba(230, 150, 255, 0.9) 0%,
    rgba(200, 100, 255, 0.8) 30%,
    #6a0dad 80% 
    );
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-top: 20px;
    margin-bottom: 20px;
}.text3{
    color: #adaab1;
}
.card{
    background-color: #f3e8ff;
    width: 368px;
    height: 355px;
    position: absolute;
    left: 850px;
    top: 190px;
    border-radius: 10px;
    box-sizing: border-box;
}
.contimg{
    box-sizing: border-box;
    position: relative;
    top: 16px;
    left: 16px;
    width: 336px;
    height: 152px;;
    background-image: url(https://img.freepik.com/fotos-premium/planta-cactus-olla-redonda-cemento-maceta-mini-cactus-rocas-blancas-decoracion-sala-estar-concepto-minimalista-iluminacion-estudio-fotografia-copia-espacio-texto-fondo-amarillo-planta-vista-lateral_994661-1423.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}
.buttcard{
    box-sizing: border-box;
    position: relative;
    top: 30px;
    left: 16px;
}
.carbutt{
    border-radius: 20px;
    border: 0px solid transparent;
    background-color: #ccb4e5;
    color: rgb(142, 60, 200);
    width: 60px;
    height: 30px;
}
.comentario{
    box-sizing: border-box;
    text-align: start;
    width: 336px;
    position: relative;
    left: 16px;
    top: 10px;
}
#comhed{
    position: relative;
    top: 17px;
}
@media (max-width: 780px){
    .header{
        width: 250px;
        position: relative;
        top: 50px;
        left: 50px;
        right: 20px;
        text-align: center;
    }
    .card{
        width: 280px;
        height: 390px;
        position: absolute;
        top: 450px;
        left: 50px;
    }
    .contimg{
        width: 240px;
    }
    .comentario{
        width: 240px;
    }
}